<%= render 'layouts/sidenav' %>

  <div class="main_container">

    <div class='row clearfix'>
      <div class='column half'>
        <h1>Job Board</h1>
      </div>
      <div class='column half'>
      <div class='column two-fifths'>
        <%= form_tag search_jobs_path, method: :get do %>
          <%= text_field_tag :search, params[:search], :placeholder => "Search in jobs:" %>
      </div>
      <div class='column fifth'>
          <%= submit_tag("Search") %>
        <% end %>
      </div>
      </div>
    </div>

    <div class='row clearfix'>
      <div class='column full'>
      <%= link_to "Post A New Job", new_job_path, class: 'button' %>
      </div>
    </div>

    <div class='row clearfix'>
      <div class='column full'>
        <% @jobs.each do |job| %>
          <h2><%= link_to job.job_title, job, class: 'content_title' %></h2>
          <p><span class='label'>Company: </span><%= job.company %><br />
             <span class='label'>Location: </span><%= job.location %></p>
          <p><span class='post_time'>Posted <%= time_ago_in_words(job.created_at) %> ago by <%= job.user.first_name %> <%= job.user.last_name %></span></p>
          <hr />
        <% end %>
        <%= will_paginate @jobs %>
      </div>
    </div>

<hr>
Current User ID: <%= session["user_id"].inspect %><br>
<%= params.inspect %>
<br>
<% if current_user != nil %>
Logged in as: <%= current_user.email %> |
<!-- method delete overrides button's normal behavior of POST -->
  <%= link_to "Log Out", sessions_path, method: :delete %>
<% else %>
  <%= link_to 'Sign In', new_sessions_path %>
<% end %>

</div>
