<%= render 'layouts/sidenav' %>

  <div class="main_container">

    <%= form_tag search_jobs_path, method: :get do %>
      <%= label_tag(:q, "Search for:") %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag("Search") %>
    <% end %>

    <% @jobs.each do |job| %>
      <h3><%= link_to job.job_title, job %></h3>
      <p><%= job.company %>, <%= job.location %></p>
      <p>Posted <%= time_ago_in_words(job.created_at) %> ago by <%= job.user.first_name %> <%= job.user.last_name %></p>
      <hr />
    <% end %>
    
</div>
