<%= render 'layouts/sidenav' %>

  <div class="main_container">

    <div class='row clearfix'>
          <div class='column full'>
              <%= form_tag search_users_path, :class => "search-form",  method: :get do %>
                <%= text_field_tag :search, params[:search], :placeholder => "Look for alumni...", id: "search-input" %>
                <%= submit_tag ("Search"), :id => "search-submit" %>
              <% end %>
            </div>
        </div>

        <div class='row clearfix'>
          <div class='column full'>
            <h1>GA Alumni</h1>
          </div>
        </div>

        <div class="row clearfix profile_deets">
        <% @users.each do |u| %>
          <div class="column fifth">
            <%= image_tag u.avatar.url, class: 'small_profile' %>
          </div>
          <div class="column two-thirds">
            <h2><%= link_to u.first_name, u, class: 'content_title' %> <%= link_to u.last_name, u, class: 'content_title' %></h2>
            <p><span class='label_black'>Current Location: </span><%= u.current_location %><br>
               <span class='label_black'>Program Attended: </span><%= u.program_attended %><br></p>
            <p><%= u.bio %></p>
            <% if u.is_admin == true %><%= link_to ' Delete', u, method: :delete, data: { confirm: 'Are you sure?' } %><% end %><br>
            <hr />
          </div>
        <% end %>
        </div>

        <div class="row clearfix">
          <div class="column full pagination">
          <%= will_paginate @users %>
          </div>
        </div>

</div>
