<%= render 'layouts/sidenav' %>

  <div class="main_container">

    <div class='row clearfix'>
      <div class='column full'>
        <% if current_user == @user %>
        <h1>Welcome, <%= @user.first_name %>.</h1>
        <% else %>
        <h1>Meet <%= @user.first_name %> <%= @user.last_name %></h1>
        <% end %>
      </div>
    </div>

    <div class='row clearfix'>
      <div class='column third'>
        <%= image_tag @user.avatar.url, class: 'medium_profile' %>
      </div>
      <div class='column two-thirds'>
        <p><span class='label_black'>Current Location: </span><%= @user.current_location %><br>
          <span class='label_black'>Program Attended: </span><%= @user.program_attended %><br>
            <span class='label_black'>Campus: </span><%= @user.campus %><br>
            <span class='label_black'>Cohort: </span><%= @user.cohort %>
        </p>
        <p><%= @user.bio %></p>
        <p>Contact: <%= mail_to @user.email %></p>
      </div>
    </div>

    <% if current_user == @user %>
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <% end %>

    <%= link_to 'Back', users_path %>

    <hr>
    Current User ID: <%= session["user_id"].inspect %><br>
    <%= params.inspect %>
    <br>
    <% if current_user != nil %>
    Logged in as: <%= current_user.email %> |
    <!-- method delete overrides button's normal behavior of POST -->
      <%= link_to "Log Out", sessions_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign In', new_sessions_path %>
    <% end %>

</div>
