<%= render 'layouts/sidenav' %>

<div class="main_container">

  <div class='row clearfix'>
    <div class='column full'>
      <h1>Post A New Event</h1>
    </div>
  </div>

    <%= form_for @event do |f| %>

    <div class='row clearfix'>
      <div class='column third'><%= f.text_field :event_name, :placeholder => "Enter the event name..." %></div>
      <div class='column third'><%= f.date_field :event_date, :placeholder => "Enter the event date..." %></div>
      <div class='column third'><%= f.time_field :event_time, :placeholder => "Enter the event time..." %></div>
    </div>

    <div class='row clearfix'>
      <div class='column full'><%= f.text_field :event_location, id: 'location', :placeholder => "Enter the event location..." %>
      </div>
    </div>

    <div class='row clearfix'>
      <div class='column full'>
        <%= f.text_area :event_description, :placeholder => "Describe the event..." %>
      </div>
    </div>

    <div class='row clearfix'>
      <div class='column full'>
        <%= f.text_field :event_site, :placeholder => "Link to the event website..." %>
      </div>
    </div>

    <div class='row clearfix'>
      <div class='column full'>
        <%= f.submit 'Post your event', class: 'button'  %>
      </div>
    </div>

    <% end %>

  <div id="map-canvas"></div>

  <%= render 'layouts/places' %>

<hr>
Current User ID: <%= session["user_id"].inspect %><br>
<%= params.inspect %>
<br>
<% if current_user != nil %>
Logged in as: <%= current_user.email %> |
<!-- method delete overrides button's normal behavior of POST -->
  <%= link_to "Log Out", sessions_path, method: :delete %>
<% else %>
  <%= link_to 'Sign In', new_sessions_path %>
<% end %>

</div>
