<%= render 'layouts/sidenav' %>

<div class="main_container">

  <%= form_tag search_events_path, method: :get do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag("Search") %>
  <% end %>

  <% @events.each do |event| %>
    <h3><%= link_to event.event_name, event %></h3>
      <p><%= event.event_location %></p>
      <p>Posted <%= time_ago_in_words(event.created_at) %> ago by <%= event.user.first_name %> <%= event.user.last_name %></p>
    <hr />
  <% end %>

<hr>
Current User ID: <%= session["user_id"].inspect %><br>
<%= params.inspect %>
<br>
<% if current_user != nil %>
Logged in as: <%= current_user.email %> |
<!-- method delete overrides button's normal behavior of POST -->
  <%= link_to "Log Out", sessions_path, method: :delete %>
<% else %>
  <%= link_to 'Sign In', new_sessions_path %>
<% end %>

</div>
