<%= render 'layouts/sidenav' %>

<div class="main_container">

  <%= form_tag search_events_path, method: :get do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag("Search") %>
  <% end %>

  <% @events.each do |event| %>
    <h3><%= link_to event.event_name, event %></h3>
      <p><%= event.event_location %></p>
      <p>Posted <%= time_ago_in_words(event.created_at) %> ago by <%= event.user.first_name %> <%= event.user.last_name %></p>
    <hr />
  <% end %>

  <div class="row clearfix">
    <div class="column full pagination">
      <%= will_paginate @events %>
    </div>
  </div>
  
</div>
