<%= render 'layouts/sidenav' %>

<div class="main_container">

  <div class='row clearfix'>
    <div class='column full'>
      <h1><%= @event.event_name %></h1>
    </div>
  </div>

  <div class='row clearfix'>
    <div class='column third'>
      <p><span class='label_black'>Date:</span> <%= @event.event_date.to_formatted_s(:long) %></p>
    </div>
    <div class='column third'>
      <p><span class='label_black'>Time:</span> <%= @event.event_time %></p>
    </div>
  </div>

  <div class='row clearfix'>
    <div class='column full'>
      <p><span class='label_black'>Location:</span> <%= @event.event_location %></p>
    </div>
  </div>

  <div class='row clearfix'>
    <div class='column full'>
      <p><%= simple_format(@event.event_description) %></p>
      <p>For more information, visit: <%= link_to @event.event_site %></a>.</p>
    </div>
  </div>

  <div class='row clearfix'>
    <div class='column full'>
      <hr />
    </div>
    <div class='column half'>
      <span class='post_time'>Posted <%= time_ago_in_words(@event.created_at) %> ago by <%= @event.user.first_name %> <%= @event.user.last_name %></span>
    </div>
    <div class='column half'>
      <span class="edit_delete">
        <% if current_user == @event.user %>
          <%= link_to "Edit", edit_event_path(@event) %>
        <% end %> |
        <% if current_user == @event.user %>
          <%= link_to "Delete", event_path(@event), method: :delete, data: { confirm: "Are you sure you want to delete this?" }%>
        <% end %>
      </span>
    </div>
  </div>

  <hr>
  Current User ID: <%= session["user_id"].inspect %><br>
  <%= params.inspect %>
  <br>
  <% if current_user != nil %>
  Logged in as: <%= current_user.email %> |
  <!-- method delete overrides button's normal behavior of POST -->
    <%= link_to "Log Out", sessions_path, method: :delete %>
  <% else %>
    <%= link_to 'Sign In', new_sessions_path %>
  <% end %>

  </div>
