<%= render 'layouts/sidenav' %>

  <div class="main_container">

    <div class="row clearfix">
      <div class="column full">
        <h1>Welcome, <%= current_user.first_name %>.</h1>
        <p>Checkout the latest and greatest from your ever-awesome GA community.</p>
      </div>
    </div>

    <div class="row clearfix">
      <div class="column third">
        <h2>Posts</h2>
          <% @posts.each do |post| %>
            <h3><%= link_to post.title, post %></h3>
            <p><span class='post_time'>Posted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.first_name %> <%= post.user.last_name %></span></p>
            <p><%= post.comments.count %> replies</p>
            <hr />
          <% end %>
          <%= link_to "See more Posts", posts_path %>
      </div>

      <div class="column third">
        <h2>Jobs</h2>
          <% @jobs.each do |job| %>
            <h3><%= link_to job.job_title, job %></h3>
            <p><%= job.company %>, <%= job.location %></p>
            <p><span class='post_time'>Posted <%= time_ago_in_words(job.created_at) %> ago by <%= job.user.first_name %> <%= job.user.last_name %></span></p>
            <hr />
          <% end %>
          <%= link_to "See more Jobs", jobs_path %>
      </div>

      <div class="column third">
        <h2>Events</h2>
          <% @activities.each do |activity| %>
            <h3><%= link_to activity.event_name, activity %></h3>
            <p><%= activity.event_location %></p>
            <p><span class='post_time'>Posted <%= time_ago_in_words(activity.created_at) %> ago by <%= activity.user.first_name %> <%= activity.user.last_name %></span></p>
            <hr />
          <% end %>
          <%= link_to "See more Events", activities_path %>
      </div>
    </div>

</div>
