<div class="container">
<div class="row clearfix splash" style="background-image:url(<%= asset_path 'ga_banner_splash_blacker.png'%>) ; width: 100%; background-repeat: none; background-size: cover;">
<div class="column full banner">
<h1>Welcome to Alum.ly!</h1>
<p>
	Alum.ly is the page for all your GA Alum needs! </br>
	Find friends! Post a job! Ask for help! Check out events!</br>
    Whatever you Alum needs are, we are here to help!
</p>
<div class="buttons">

 <%= link_to 'Sign In', new_sessions_path, class: 'button_secondary' %>

 <%= link_to 'Sign Up', new_user_path, class: 'button' %>

 </div>
 </div>
 </div>

<div class="row clearfix benefits">

	<div class="column third">

		<%= image_tag('ga_connect.png', class: 'icon')%>
		<h2>Connect Globally</h2>
		<p>Introduce yourself to our global community of amazingly talented individuals, empowered to pursue work they love.</p>
	</div>

	<div class="column third">

		<%= image_tag('ga_events.png', class: 'icon') %>
		<h2>Check Out Events</h2>
		<p>Learn about the latest and greatest industry events in your locale. Your networking calendar will never be empty.</p>
	</div>

	<div class="column third">

		<%= image_tag('ga_jobs.png', class: 'icon')%>
		<h2>Find Jobs</h2>
		<p>Did you know that 30% of jobs are never posted publicly? Get the scoop on new positions you'll never see on LinkedIn.</p>
	</div>
</div>

<div class="row clearfix footer">
	<div class="column full">
		<p>
			<a class="social" href="https://www.facebook.com/gnrlassembly" target="_blank"><i class="fa fa-facebook-square"></i></a>
			<a class="social" href="https://twitter.com/ga" target="_blank"><i class="fa fa-twitter-square"></i></a>
			<a class="social" href="https://www.linkedin.com/company/2408664" target="_blank"><i class="fa fa-linkedin-square"></i></a>
			<a class="social" href="https://instagram.com/generalassembly/" target="_blank"><i class="fa fa-instagram"></i></a>
			<a class="social" href="https://plus.google.com/+GeneralAssembly/posts" target="_blank"><i class="fa fa-google-plus-square"></i></a>
		</p>
		<p class="copyright">Made with &hearts; by Katie Kelleher, Lee Richardson &amp; Lauren Pawell.</p>
	</div>
</div>


</div>
</div>
