<%= render 'layouts/sidenav' %>

  <div class="main_container">

    <div class='row clearfix'>
      <div class='column full'>
        <h1>New Post</h1>
      </div>
    </div>

      <%= form_for @post do |f| %>
    <div class='row clearfix'>
      <div class='column full'>
        <%= f.text_field :title, :placeholder => "Enter a short title for your post..." %>
      </div>
    </div>
    <div class='row clearfix'>
      <div class='column full'>
        <%= f.text_area :content, :placeholder => "Give more details here..." %>
      </div>
    </div>
     <div class='row clearfix'>
      <div class='column full'>
        <%= f.submit 'Add your post', class: 'button' %>
      </div>
    </div>

  <% end %>

</div>
