<%= render 'layouts/sidenav' %>

<div class="main_container">

  <div class='row clearfix'>
    <div class='column full'>
    <h1><%= @post.title %></h1>
      <h5><%= pluralize(@post.comments.count, 'reply') %></h5>
      <p><%= simple_format(@post.content) %></p>
    <div>
  </div>

  <div class='row clearfix meta-info'>
    <hr>
    <div class='column half'>
      <span class='post_time'>Posted <%= time_ago_in_words(@post.created_at) %> ago by <%= @post.user.first_name %> <%= @post.user.last_name %></span>
    </div>
    <div class='column half'>
      <span class="edit_delete">
        <% if current_user == @post.user %>
          <%= link_to "Edit", edit_post_path(@post) %>
        <% end %> |
        <% if current_user == @post.user %>
          <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete this?" }%>
        <% end %>
      </span>
    </div>
  </div>

  <div class='row clearfix'>
    <div class='column full comments_post'>
      <%= render @post.comments %>
      <h4>Comment on post</h4>
      <%= render 'comments/form' %>
    </div>
  </div>

</div>
