<%= render 'layouts/sidenav' %>

  <div class="main_container">

    <div class='row clearfix'>
      <div class='column full'>
        <%= form_tag search_activities_path, :class => "search-form", method: :get do %>
        <%= text_field_tag :search, params[:search], :placeholder => "Look for events...", id: "search-input" %>
        <%= submit_tag ("Search"), :id => "search-submit" %>
        <% end %>
      </div>
    </div>

    <div class='row clearfix'>
      <div class='column full'>
        <h1>Events Calendar</h1>
      </div>
    </div>

    <div class='row clearfix'>
      <div class='column full'>
        <%= link_to "Post A New Event", new_activity_path, class: 'button_new' %>
      </div>
    </div>

    <div class='row clearfix'>
      <div class='column full'>
        <% @activities.each do |activity| %>
          <h2><%= link_to activity.event_name, activity, class: 'content_title' %></h2>
          <p><span class='label_black'>Date: </span><%= activity.event_date.to_formatted_s(:long) %><br />
             <span class='label_black'>Location: </span><%= activity.event_location %></p>
             <p><span class='post_time'>Posted <%= time_ago_in_words(activity.created_at) %> ago by <%= activity.user.first_name %> <%= activity.user.last_name %></span></p>
          <hr />
        <% end %>
      </div>
    </div>

    <div class="row clearfix">
      <div class="column full pagination">
        <%= will_paginate @activities %>
      </div>
    </div>

</div>
